<div class="ui-job bg-background-900">
  
    <div class="ui-job-list">
        <div class="ui-job-list-item">
            <!-- <img class="ui-job-list-item__img" src="/assets/icons/design.png" alt=""> -->
            <ui-icon name="magic-wand" color="white" size="36px"></ui-icon>
            <ui-title size="sm" color="white" family="bold">
                Habilidades
            </ui-title>
            <ui-paragraph size="md" family="regular" color="white">
                Aprende sobre mis habilidades en programación, encuentra información sobre mis conocimientos de idiomas y más.
            </ui-paragraph>
        </div>
        <div class="ui-job-list-item">
            <ui-icon name="display" color="white" size="36px"></ui-icon>
            <ui-title size="sm" color="white" family="bold">
                Experiencia
            </ui-title>   
            <ui-paragraph size="md" family="regular" color="white">
                Conozca la línea de tiempo de mi educación y descubra más sobre mi experiencia laboral.
            </ui-paragraph>  
           
        </div>
        <div class="ui-job-list-item">
            <ui-icon name="binoculars" color="white" size="36px"></ui-icon>           
            <ui-title size="sm" color="white" family="bold">
                Portafolio
            </ui-title>
            <ui-paragraph size="md" family="regular" color="white">
                Mi portafolio es mi mayor orgullo. Revisa mis trabajos anteriores y conoce mejor mis habilidades.
            </ui-paragraph>    
        </div>
        
    </div>
</div>
<div class="ui-programming">
    <div class="ui-prog-1">
     
        <ui-title size="md" color="background-900">
            Habilidades en programación
        </ui-title>
        <ui-paragraph size="md" color="onsurface-800">
            Ingeniero front-end que cree en el poder del desarrollo web. Experiencia en todas las etapas de desarrollo front-end avanzado. Centrado en el desarrollo de aplicaciones de una sola página, animaciones CSS/JS, semántica, accesibilidad y mejora progresiva.
        </ui-paragraph>
      
        <ul>
            <li><ui-paragraph size="md" color="onsurface-800">Azure</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Jira</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Confluence</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Jenkins</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Hashicorp Vault</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Sonarqube</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Fortify</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Google Analytics</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Adobe analytics</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Firebase</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Rxjs</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño MVP</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Factory</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Adapter</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Builder</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Singleton</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Observer</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Composite</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Strategy</ui-paragraph></li>
            <li><ui-paragraph size="md" color="onsurface-800">Patrón de diseño Decorator</ui-paragraph></li>
        </ul>
    </div>
    <div class="ui-prog-2">
        <div class="prog-wrapper">
            <img class="img-computer" src="/assets/images/programmer5.png" alt="">
            <!-- <div class="prog-item">
                <img class="prog-item__img--ng" src="/assets/icons/angular.png" alt="">
            </div>
            <div class="prog-item">
                <img class="prog-item__img--aa" src="/assets/icons/Adobe-Analytics.png" alt="">
            </div>
            <div class="prog-item">
                <img class="prog-item__img--az" src="/assets/icons/azure-2.png" alt="">
            </div>
            <div class="prog-item">
                <img class="prog-item__img--wf" src="/assets/icons/waf-logo.png" alt="">
            </div>
            <div class="prog-item">
                <img class="prog-item__img--dn" src="/assets/icons/dns-logo.png" alt="">
            </div> -->
        </div>
    </div>
</div> 