$primary-100: #0B5345;
$primary-80: #117A65;
$primary-60: #16A085;
$primary-40: #73C6B6;
$primary-20: #D0ECE7;
$secondary-100: #7D6608;
$secondary-80: #B7950B;
$secondary-60: #F1C40F;
$secondary-40: #F7DC6F;
$secondary-20: #FCF3CF;
$text: #17202A;
$onsurface-100: #424949;
$onsurface-80: #616A6B;
$onsurface-60: #7F8C8D;
$onsurface-40: #B2BABB;
$onsurface-20: #E5E8E8;