<div class="ui-me">
    <div class="ui-me-profile">
        <ui-img class="ui-me-profile__img" type="circle" src="/assets/images/me-1.jpg" alt=""></ui-img>
    </div>
    <div class="ui-me-desc">      
        <ui-title size="lg" color="primary-500" family="bold">Hola, soy Luis de nacionalidad Peruana</ui-title>

        <ui-paragraph size="md" color="onsurface-800">
          Soy fundador de <strong>Fludigo</strong> y profesional de la carrera de ingenieria de  Sistemas, de la Universidad Nacional San Luis Gonzaga de Ica. Egresado en el año 2016.
        </ui-paragraph>

        <ui-paragraph size="md" color="onsurface-800">
          Me encanta el desarrollo de tecnologias web y mobile, en el entorno de desarrollo con tecnologia Javascript, Ionic, nodejs,etc.
        </ui-paragraph>
    </div>

</div>